*{ margin: 0; padding: 0}

body{
    width: 100%;
    font-family: helvetica,arial;
    font-size: 13px;
    color: #333;
}

h1 {
    text-align: center;
}

header{ 
    height: 80px; 
    background-color: rgb(108, 206, 173); 
    border-radius: 0.5em; 
    margin: 5px; }

footer{ 
    height: 20px;
    width: 99%;
    background-color: rgb(108, 206, 173);
    border-radius: 0.5em; 
    margin: 5px; 
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
}

#logo{
    margin-top: 10px;
    margin-left: 20px;
}

#login {
    top: 10px;
    right: 40px;
    position: absolute;
}

#menu{
    float: right;
    padding-top: 30px;
}

#menu a{
    color: lavender;
    text-decoration: none;
    padding: 0 20px;
    text-shadow: 1px 1px 1px #111;
    font-size: 20px;
}

#menu a:hover{
    background-color: cornflowerblue;
    border-radius: 1em;
    padding: 10px;
}

#content { 
    margin: 0 auto;
    width: auto;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: lightcyan;
}

#content a {
    color: #333;
    text-decoration: none;
    padding: 3px;
    margin-right: 10px;
}

#content a:hover {
    background-color: cornflowerblue;
}

#content .btn-insert {
    background-color: darkturquoise;
    color: #333;
    text-decoration: none;
    padding: 8px;
    margin-right: 10px;
    border-radius: 0.5em;
}

.carousel-item img{
    width: auto;
    height: auto;
    max-height: 400px;
    margin: auto; 
    display: block;
}

#content .fas {
    font-size: 15px;
}

#dvHeader .fab {
    font-size: 80px;
}

#content .btn{
    margin-top: 20px;
    background-color: darkcyan;
}

#content .btn:hover{
    margin-top: 20px;
    background-color: cornflowerblue;
}